* { margin: 0; padding: 0; }
body, html { background: #000; overflow: hidden; }

.player-wrap, .emp { width: 100%; text-align: center; }

video, audio, img, embed { max-width: 100%; margin: 0 auto 0 auto; }