
div.a-z-list ul {
  list-style: none;
  display: block;
  line-height: 2.5em;
  padding: 0;
  margin: 0;
}
div.a-z-list li {
  display: inline-block;
  list-style: none;
  border: solid #666 1px;
  min-width: 1.5em;
  line-height: 2em;
  padding: 0 4px 0 4px;
  margin: 0;
}
div.a-z-list li a {
  display: block;
  text-align: center;
}
p.depiction img {
  max-width: 100%;
}
